
 * {
        box-sizing: border-box;
    }
    body {
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        background: #eaeaea;
        display: flex;
        justify-content: center;
    }
    .invoice-page {
        width: 820px;      
        background: white;
        padding: 40px;
        margin: 20px;
        box-shadow: 0 0 6px rgba(0,0,0,0.2);
    }
    .logo img {
        width: 150px;
        margin-bottom: 20px;
    }

    .section-title {
        font-weight: bold;
        margin-bottom: 6px;
        margin-top: 18px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    table th, table td {
        padding: 6px 4px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .no-border td, .no-border th {
        border: none !important;
        padding: 2px 0;
    }

   
    .section {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
    }

    .section-left, .section-right {
        width: 50%;
    }


    .footer {
        display: flex;
        justify-content: space-between;
        font-size: 12px;
        margin-top: 40px;
        font-weight: bold;
        flex-wrap: wrap;
    }

    .footer div {
        min-width: 200px;
    }

   
    @media (max-width: 900px) {
        body {
            overflow-x: auto;
        }

        .invoice-page {
            margin: 0;
            border-radius: 0;
        }
    }