* {
        box-sizing: border-box;
        margin: 0;
        padding: 0;

    }
    body {
        font-family: Arial, sans-serif;
           background: #eaeaea;
     
     
      
    }
    .invoice{
        width: 100%;
        height: 100%;
   
    }
    .invoice-page {
       

       width: 210mm;
   
    background: white;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    page-break-after: always;
    overflow: hidden;
    position: relative;
    font-size: 12pt;
    padding: 10mm 18mm;
    margin: 0 auto 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
    .logo img {
       width:100%;
       height:100%;
        margin-bottom: 20px;
           object-fit: contain;
    }
    .logo{
       width: 27%;
    height: 11%;
    display: flex;
   
    }

    .section-title {
        font-weight: bold;
        margin-bottom: 6px;
        margin-top: 18px;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 10px;
    }

    table th, table td {
        padding: 6px 4px;
        border: 1px solid #ccc;
        text-align: left;
    }

    .no-border td, .no-border th {
        border: none !important;
        padding: 2px 0;
    }

   
    .section {
        display: flex;
        justify-content: space-between;
        gap: 15mm;
        width: 100%;
    }

    .section-left, .section-right {
        width: 50%;
    }


    .footer {
         display: flex;
    justify-content: space-between;
    font-size: 10pt;
    margin-top: 9mm;
    font-weight: bold;
    flex-wrap: wrap;
    flex-shrink: 0;
    }

    .footer div {
        min-width: 200px;
    }
